{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Create Project</a>
    <span style="margin-top: 8px; color: white">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'detail' pk=task.project.pk %}">Project Page</a>
    <span style="margin-top: 8px; color: white">|</span>
{% endblock %}

<title>{% block title %}Detail{% endblock %}</title>

{% block content %}
    <center>
        <h1 style="margin-top: 50px; margin-bottom: 50px">Your Task:</h1>
        <div class="card mb-3" style="border: solid 2px green; border-radius: 20px; width: 35%">
            <h5 class="card-header">{{ task.summary }}</h5>
            <div class="card-body">
                <h5 class="card-title">Description: {{ task.description }}</h5>
                <p class="card-text">Status: {{ task.status }}</p>
                <p class="card-text">Type:
                    {% for type in task.type.all %}
                        {{ type.name }}{% if forloop.last %}.{% else %},{% endif %}
                    {% endfor %}
                </p>
                <p class="card-text">Create: {{ task.created_date }}</p>
                <p class="card-text">Update: {{ task.updated_date }}</p>
                <a href="{% url 'task_update' task.pk %}" class="btn btn-success">Edit Task</a>
                <a href="{% url  'task_delete' task.pk%}" class="btn btn-danger" style="margin-left: 30px">Delete Task</a>
            </div>
        </div>
    </center>
{% endblock %}