{% extends 'base.html' %}

{% block navbar %}
    {% if perms.webapp.add_project %}
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:create' %}">Create Project</a>
    <span style="margin-top: 8px; color: white">|</span>
    {% endif %}
    {% if perms.webapp.add_task and request.user in project.users.all %}
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:task_create' pk=project.pk %}">Create Task</a>
    <span style="margin-top: 8px; color: white">|</span>
    {% endif %}
{% endblock %}

<title>{% block title %}Detail{% endblock %}</title>

{% block content %}
    <center>
        <h1 style="margin-top: 50px; margin-bottom: 50px">Your Project:</h1>
        <div class="card mb-3" style="border: solid 2px green; border-radius: 20px; width: 35%">
            <h5 class="card-header">{{ project.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">Description: {{ project.description }}</h5>
                <p class="card-text">Create: {{ project.created_date }}</p>
                <p class="card-text">Update: {{ project.updated_date }}</p>
                {% if perms.webapp.change_project and request.user in project.users.all %}
                <a href="{% url 'webapp:edit' project.pk %}" class="btn btn-success">Edit Project</a>
                {% endif %}
                {% if perms.webapp.delete_project and request.user in project.users.all %}
                <a href="{% url 'webapp:delete' project.pk %}" class="btn btn-danger" style="margin-left: 30px">Delete Project</a>
                {% endif %}
                {% if perms.auth.change_user and request.user in project.users.all %}
                <a href="{% url 'webapp:update_user' project.pk %}" class="btn btn-dark"
                           style="text-decoration: none; color: white; margin-left: 20px">Update User!</a>
                {% endif %}
            </div>
            <span style="color: blue;">
                    <b>Пользователь:</b>
                    {% for user in project.users.all %}
                        <br>
                        {{ user.username }}
                        {% if not forloop.last %},
                        {% endif %}
                    {% endfor %}
                </span>
        </div>
    </center>

    <center><h1 style="margin-top: 50px; margin-bottom: 50px">Your Tags:</h1></center>

    <div class="row row-cols-3 mt-2">
        {% for t in project.tasks.all %}
            <div class="col" style="margin-bottom: 50px">
                <div class="card">
                    <div class="card-body" style="border: solid 2px green; border-radius: 10px">
                        <h5 class="card-title">Summary: {{ t.summary }} <a href="{% url 'webapp:task_detail' t.pk %}"
                                                                           style="color: black; font-size: 30px"><i
                                class="bi bi-info-circle-fill"></i></a></h5>
                        <p class="card-text">Status: {{ t.status }}</p>
                        <p class="card-text">Type:
                            {% for type in t.type.all %}
                                {{ type.name }}{% if forloop.last %}.{% else %},{% endif %}
                            {% endfor %}
                        </p>
                        <div class="card-footer bg-dark">
                            {% if perms.webapp.change_task and request.user in t.project.users.all %}
                            <a href="{% url 'webapp:task_update' t.pk %}"
                               style="text-decoration: none; color: white">Edit Task</a>
                            {% endif %}
                        {% if perms.webapp.delete_task and request.user in t.project.users.all %}
                            <a href="{% url 'webapp:task_delete' t.pk %}"
                               style="text-decoration: none; color: white; margin-left: 200px">Delete Task</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <h5>Tasks Not Found :( </h5>
        {% endfor %}
    </div>

{% endblock %}