{% extends 'base.html' %}

{% block navbar %}
    <span style="margin-top: 8px; color: white">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Create Task</a>
    <span style="margin-top: 8px; color: white">|</span>
{% endblock %}

<title>{% block title %}Tasks{% endblock %}</title>

{% block content %}
    <center>
        <h1 style="margin-top: 50px">Your Tasks:</h1>
    </center>
    <div class="row row-cols-3">
        {% for tasks in task %}
            <div class="col">
                <div class="card mb-3"
                     style="width: 18rem; border-radius: 5px; margin-top: 50px; border: 3px solid black">
                    <div class="card-body">
                        <h4 class="card-title">{{ tasks.summary }}</h4>
                        <h6 class="card-text">{{ tasks.description }}</h6>
                        <a href="{% url 'detail' tasks.pk %}" class="btn btn-dark">See more</a>
                        <a href="{% url 'edit' tasks.pk %}" class="btn btn-dark" style="margin-left: 40px;">Edit Task</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}