{% extends 'base.html' %}

{% block navbar %}
    <span style="color: white; margin-top: 5px; margin-right: 16px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:webapp:home' %}">Projects Page</a>
    <span style="color: white; margin-top: 5px; margin-right: 16px">|</span>
{% endblock %}

<title>{% block title %}Sign In{% endblock %}</title>

{% block content %}
    <h1 style="text-align: center; margin-top: 50px">Sign In:</h1>
    <form action="" method="post" class="text-center">
        {% csrf_token %}
        {% if has_error %}
            <p class="form-error">Wrong UserName or Password</p>
        {% endif %}
        <div class="mb-3">
            <label for="username" class="form-label">User name:</label>
            <input type="text" class="form-control mx-auto" name="username" id="username"
                   style="max-width: 300px; border: solid 2px">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control mx-auto" name="password" id="password"
                   style="max-width: 300px; border: solid 2px">
        </div>
        <button type="submit" class="btn btn-outline-success"><b>Войти</b></button>
{% endblock %}